<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Bugly -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPlayAndroid">
        <activity
            android:name=".main.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".profile.share.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".profile.rank.list.RankActivity"
            android:exported="false" />
        <activity
            android:name=".article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".base.BaseListActivity"
            android:exported="false" />
        <activity
            android:name=".home.article.ArticleListActivity"
            android:exported="false" />
        <activity
            android:name=".home.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".profile.history.BrowseHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".article.collect.CollectListActivity"
            android:exported="false" />
        <activity
            android:name=".profile.rank.user.UserRankActivity"
            android:exported="false" />
        <activity
            android:name=".main.login.Login"
            android:exported="false" />
        <activity
            android:name=".profile.user.UserActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- 强制竖屏 -->
        </activity>
    </application>

</manifest>